*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Consolas;
}

input:focus{
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline-style: solid;
    outline-color: #408156;
    outline-width: 2px;
}

body{
    background: #405059;
}
#corpo-pagina{
    width: 75%;
    max-width: 750px;
    min-width: 500px;
    margin: 0 auto;
}
h1{
    font-size: 2.5rem;
    text-align: center;
    text-transform: uppercase;
    margin-top: 2rem;
    color: #d6aa26;
}

/* Estilo area do input das tarefas*/
#area-input{
    margin: 20px 0;

    /*Faz o botao ficar colado na caixa do input*/
    display: flex;
    flex-flow: row wrap;
}
#area-input input{
    width: 70%;
    height:50px;
    font-size: 1.1em;
    padding-left: 20px;
    margin-right: 1rem;
    border-radius: 1rem;
    border: none;
}
button.add-tarefa{
    width: 25%;
    background-color: #408156;
    height: 50px;
    border: none;
    border-radius: 1rem;
    cursor: pointer;
    color: #d6aa26;
    font-size: 1.1em;
    transition: .5s;
}
button.add-tarefa:hover{
    background-color: #2a5c0b;
    color: azure;
    border: 1px solid #408156;
}

/* Estilo da area das tarefas*/
.item{
    display: flex;
    height: 50px;
    margin: 10px 0;
    box-shadow: 0 0 10px #859987;
    border-radius: 1rem;
    align-items: center;
    cursor: pointer;
    justify-content: space-between;
}
.item:hover{
    box-shadow: 0 0 5px #859987;
    background: rgba(0, 128, 0, 0.050);
}
.item .icone-tarefa{
    width: 15%;
    text-align: center;
    font-size: 1.5em;
}
.item .texto-tarefa{
    width: 60%;
    font-size: 1.1em;
    margin-right: 1rem;
}
.item .area-delete-tarefa{
    text-align: center;
    width: 20%;
}
.delete{
    font-size: 1.5em;
    border: none;
    color: #ffffff;
    width: 100%;
    height: 50px;
    background-color: #bd2a33;
    cursor: pointer;
    border-radius: 1rem;

}
.delete span{
    font-size: 16px;
}

/* Estilo do item clicado*/
.mdi-check-circle{
    color: #408156;
}
.item.clicado{
    background: #40815638;
}
.item.clicado .texto-tarefa{
    text-decoration:line-through;
    color: #859987;
}